.featured-card-image-container img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.featured-card-header{
    display: flex;
    flex-direction: column;
    width: 210px;
}
.featured-card-header a{
    color: white;
    font-size: 1.2rem;
}
.featured-card{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.featured-card-wrapper{
    color: white;
    padding: 0.4rem;
    width: max-content;
    border: 1px solid rgb(48, 48, 48);
}