.headline-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.headline-card{
    display: flex;
    position: relative;
}
.headline-image-container img {
    height: 600px;
    max-width: 650px;
    object-fit: cover;
}
.headline-info{
    position: absolute;
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    color: white;
}